/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/
/* Border-box-sizing */
.row, .col, .row:after, .col:after, .row:before, .col:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix */
.row {
  *zoom: 1;
}
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}

.row {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Nested grid */
.row > .row {
  clear: none;
  float: left;
  margin: 0 !important;
}

/* Default col */
.col {
  float: left;
  width: 100%;
}
