/*!
Menu Styles
__________________________________________________
*/
// wp menu classes
// ul.sub-menu
// ul.children
// li.current-menu-item
// li.current_page_item
// li.current_page_ancestor
// li.current-menu-ancestor
// .page_item_has_children
// .current_page_parent

.nav { display: block; background: @brand-primary;
    div {
        ul { list-style:none; position:relative; float:left; margin:0; padding:0; z-index: 999;
            li { position:relative; float:left; margin:0; padding:0;
                a { display: block; color: @white; text-decoration: none; padding: 10px 15px; background: @brand-primary;}
                a:hover { background: @brand-secondary; }
                //children
                ul { display:none; position:absolute; top:100%; left:0; background: @brand-primary; padding:0;
                    li { float:none; width:200px;
                        a { padding:10px 15px }
                        ul { top:0; left:100%;
                        }
                    }
                    .menu-item-has-children > a:after, .page_item_has_children > a:after { content: '+'; position: absolute; right: 15px; }
                }
            }
            .current-menu-item > a, .current_page_item > a { background: @brand-secondary }
            .current_page_ancestor > a, .current_page_parent > a{ background: @brand-secondary }
            .menu-item-has-children > a:after, .page_item_has_children > a:after  { content: '+'; margin-left: 5px; }
            :hover > ul { display:block }
        }
    }
}

//BE Subpages plugin
// WORK IN PROGRESS.......................
//  .widget_subpages {
//     ul { list-style:none; position:relative; margin:0; padding:0;
//             li { position:relative; margin:0; padding:0;
//                 a { display: block; color: @white; text-decoration: none; padding: 10px 15px; background: @brand-primary; margin-bottom: 1px;}
//                 a:hover { background: @brand-secondary; }
//                 //children
//                 ul { background: @brand-primary; padding:0;
//                     li {
//                         a { padding:10px 15px }
//                         ul { top:0; left:100%;
//                         }
//                     }
//                     //.menu-item-has-children > a:after, .first-menu-item > a:after { content: '+'; position: absolute; right: 15px; }
//                 }
//             }
//             .widget_subpages_current_page > a { background: @brand-secondary }
//             .current_page_ancestor > a, .current_page_parent > a{ background: @brand-secondary }
//             //.menu-item-has-children > a:after, .first-menu-item > a:after  { content: '+'; position: absolute; right: 15px;  }
//             :hover > ul { display:block }
//         }
// }

// Responsive Menu Button
// .show-menu {
//     text-decoration: none;
//     color: @white;
//     background: @brand-primary;
//     padding: 10px 20px;
//     display: none;
//     text-align: right;
// }

// @media screen and (max-width: 720px) {
//     .show-menu { display: block; }
//     nav {display: none !important;}
// }
