/*!
Menu Styles
__________________________________________________
*/

// wp menu classes
//.nav
// ul.sub-menu,
// ul.children
// li.current-menu-item,
// li.current_page_item,
// li.current_page_ancestor

.nav {
  ul {list-style: none;margin: 0; padding: 0;
  li {float: left;padding:10px 20px;}
  }
}
