/*!
Some Wordpress Core
__________________________________________________
*/
 img {
    -ms-interpolation-mode:bicubic!important
}
.alignnone {
    margin:5px 20px 20px 0;
    max-width:100%;
    height:auto
}
.aligncenter, div.aligncenter {
    display:block;
    margin:5px auto
}
.alignright {
    float:right;
    margin:5px 0 20px 20px;
    max-width:100%;
    height:auto
}
.alignleft {
    float:left;
    margin:5px 20px 20px 0;
    max-width:100%;
    height:auto
}
.aligncenter {
    display:block;
    margin:5px auto;
    max-width:100%;
    height:auto
}
a img.alignright {
    float:right;
    margin:5px 0 20px 20px;
    max-width:100%;
    height:auto
}
a img.alignnone {
    margin:5px -20px 20px 0;
    max-width:100%;
    height:auto
}
a img.alignleft {
    float:left;
    margin:5px 20px 20px 0;
    max-width:100%;
    height:auto
}
a img.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    height:auto
}
img.alignright {
    float:right;
    margin:5px 0 20px 20px;
    max-width:100%;
    height:auto
}
img.alignnone {
    margin:5px 20px 20px 0;
    max-width:100%;
    height:auto
}
img.alignleft {
    float:left;
    margin:5px 20px 20px 0;
    max-width:100%;
    height:auto
}
img.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    height:auto
}
.wp-caption {
    background:#f7f7f7;
    border:1px solid #ddd;
    max-width:96%;
    padding:15px 10px 10px;
    text-align:center
}
.wp-caption .alignnone {
    margin:5px 20px 20px 0
}
.wp-caption .alignleft {
    margin:5px 20px 20px 0
}
.wp-caption .alignright {
    margin:5px 0 20px 20px
}
.wp-caption img {
    border:0 none;
    height:auto;
    margin:0;
    max-width:98.5%;
    padding:0;
    width:auto
}
.wp-caption p.wp-caption-text {
    font-size:80%;
    line-height:20px;
    margin:0;
    padding:0 4px
}
.sticky {
    border:1px solid #0f0f0f
}
.gallery-caption {
    padding:10px;
    font-size:80%
}
.gallery-icon img, .gallery-icon a img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    height:auto
}
.widget_calendar {
    float:left
}
#wp-calendar {
    width:100%
}
#wp-calendar caption {
    font-weight:700;
    text-align:center;
    margin-top:10px;
    margin-bottom:15px
}
#wp-calendar thead th {
    text-align:center
}
#wp-calendar tbody td {
    border:1px solid #ddd;
    text-align:center;
    padding:4px
}
#wp-calendar tbody td:hover {
    background:#f7f7f7
}
#wp-calendar tbody .pad {
    background:0
}
#wp-calendar tfoot #next {
    font-size:70%;
    text-transform:uppercase;
    text-align:right
}
#wp-calendar tfoot #prev {
    font-size:70%;
    text-transform:uppercase;
    padding-top:10px
}
.wp-smiley {
    margin:0
}
#comments {
    padding:20px;
    background-color:#f7f7f7;
    margin-bottom:20px
}
#comments ol {
    list-style:none;
    margin:0;
    padding:0
}
#comments li img {
    float:left;
    width:30px;
    height:30px;
    margin-right:10px
}
#comments li h4 {
    float:left;
    font-size:18px;
    line-height:32px;
    margin:0
}
#comments li time {
    float:left;
    font-size:11px;
    margin-left:40px;
    line-height:32px;
    margin-bottom:0
}
#comments article {
    border:1px solid #ddd;
    margin-bottom:40px;
    margin-top:10px;
    padding:20px;
    border-radius:3px;
    background-color:#fff
}
#blog-sidebar {
    margin:0
}
#blog-sidebar ul {
    margin:0;
    padding:0;
    list-style-type:none
}
#blog-sidebar ul li {
    margin:0;
    padding:0;
    float:none
}
#blog-sidebar ul li h3 {
    margin-top:20px;
    padding-bottom:10px;
    border-bottom:1px solid #ddd
}
#blog-sidebar ul ul ul {
    margin-left:20px
}
#pages-sidebar {
    margin:0
}
#pages-sidebar ul {
    margin:0;
    padding:0;
    list-style-type:none
}
#pages-sidebar ul li {
    margin:0;
    padding:0;
    float:none
}
#pages-sidebar ul li h3 {
    margin-top:20px;
    padding-bottom:10px;
    border-bottom:1px solid #ddd
}
#pages-sidebar ul ul ul {
    margin-left:20px
}
